<template>
  <div class="wrapper">
    <side-bar>
      <template slot="links">
        <sidebar-link to="/Home" name="Información" icon="info"/>
        <sidebar-link to="/ERSchemaEditor" name="Diagrama ER" icon="diamond-half"/>
        <sidebar-link to="/RelationalSchema" name="Modelo Relacional" icon="columns-gutters"/>
        <sidebar-link to="/NoRelationalSchema" name="Modelo No Relacional" icon="kanban"/>
        <sidebar-link to="/login" name="Logout" icon="box-arrow-left"/>
        <!-- <sidebar-link to="/maps" name="Map" icon="ti-map"/>
        <sidebar-link to="/notifications" name="Notifications" icon="ti-bell"/> -->
      </template>

    </side-bar>
    <div class="main-panel">
      <!-- <top-navbar></top-navbar> -->

      <dashboard-content @click.native="toggleSidebar">
      </dashboard-content>

    </div>
  </div>
</template>
<style >
</style>
<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import MobileMenu from "./MobileMenu";
export default {
  components: {
    TopNavbar,
    ContentFooter,
    DashboardContent,
    MobileMenu
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    },
    logout() {
      console.log("logout desde dashLayput");

      this.$parent.logout()
    }
  }
};
</script>
