<template>
  <div class>
    <div class="container pb-2">
      <b-button v-b-modal.modal-entity class="btn btn-primary">Entidad</b-button>
      <b-button v-b-modal.modal-attr class="btn btn-success">Atributo</b-button>
      <b-button v-b-modal.modal-rel class="btn btn-secondary">Relacion</b-button>
      <b-button v-b-modal.modal-multi class="btn btn-info">Derivado</b-button>
    </div>
    <canvas ref="can" width="750" height="550" style="border:1px solid #000000;"></canvas>

    <!-- Modal para agregar Entitdad -->
    <b-modal id="modal-entity" centered title="Agregar Entidad" @ok="addEntity()">
      <b-container fluid>
        <form ref="form">
          <b-form-group label="Nombre" label-for="name-input" invalid-feedback="Name is required">
            <b-form-input id="name-input" v-model="nameItem" required></b-form-input>
          </b-form-group>
        </form>
      </b-container>
    </b-modal>
    <!-- Modal para agregar Atributo -->
    <b-modal id="modal-attr" centered title="Agregar Atributo" @ok="addAttribute()">
      <b-container fluid>
        <form ref="form">
          <b-form-group label="Nombre" label-for="name-input" invalid-feedback="Name is required">
            <b-form-input id="name-input" v-model="nameItem" required></b-form-input>
          </b-form-group>
        </form>
      </b-container>
    </b-modal>
    <!-- Modal para agregar Relacion -->
    <b-modal id="modal-rel" centered title="Agregar Relación" @ok="addRelation()">
      <b-container fluid>
        <form ref="form">
          <b-form-group label="Nombre" label-for="name-input" invalid-feedback="Name is required">
            <b-form-input id="name-input" v-model="nameItem" required></b-form-input>
          </b-form-group>
        </form>
      </b-container>
    </b-modal>
    <!-- Modal para agregar Derivado -->
    <b-modal id="modal-multi" centered title="Agregar Atributo Derivado" @ok="addMultivalue()">
      <b-container fluid>
        <form ref="form">
          <b-form-group label="Nombre" label-for="name-input" invalid-feedback="Name is required">
            <b-form-input id="name-input" v-model="nameItem" required></b-form-input>
          </b-form-group>
        </form>
      </b-container>
    </b-modal>
  </div>
</template>
<script>
import { fabric } from "fabric";

export default {
  name: "diagram",
  data: function() {
    return {
      canvasObject: Object,
      tittleModal: "",
      nameItem: "",
      leftPos: 0,
      rigthPos: 0
    };
  },
  methods: {
    addEntity() {
      let canvas = this.canvasObject;
      var text = new fabric.Text(this.nameItem, {
        fontSize: 14,
        originX: 0,
        originY: 0,
        left: 7.5,
        top: 7.5
      });

      let entity = new fabric.Rect({
        fill: "#fff59d",
        stroke: "#ffc107",
        strokeWidth: 3,
        width: text.width + 15,
        height: text.height + 15,
        rx: 5,
        ry: 5
      });

      var g = new fabric.Group([entity, text], {
        left: this.leftPos + 10,
        top: this.rigthPos + 10
      });

      canvas.add(g);
      this.nameItem="";
    },
    addAttribute() {
      let canvas = this.canvasObject;
      var text = new fabric.Text(this.nameItem, {
        fontSize: 14,
        originX: "center",
        originY: "center",
      });

      var shape = new fabric.Ellipse({
        rx: text.width + 15,
        ry: text.height + 5,
        originX: "center",
        originY: "center",
        stroke: "black",
        fill:'',
        strokeWidth: 3,
      });

      var group = new fabric.Group([shape, text], {
        left: this.leftPos + 15,
        top: this.rigthPos + 15
      });

      canvas.add(group);
      this.nameItem="";
    },
    addRelation() {
      let canvas = this.canvasObject;
      var text = new fabric.Text(this.nameItem, {
        fontSize: 14,
        originY: "center",
        left: 15
      });

      var shape = new fabric.Rect({
        width: text.width ,
        height: text.width ,
        stroke: "#4fc3f7",
        strokeWidth: 3,
        fill: "#b2ebf2",
        angle: -45
      });

      var group = new fabric.Group([shape, text], {
        left: this.leftPos + 20,
        top: this.rigthPos + 20
      });

      canvas.add(group);
      this.nameItem="";
    },
    addMultivalue() {
      let canvas = this.canvasObject;
      var text = new fabric.Text(this.nameItem, {
        fontSize: 14,
        originX: "center",
        originY: "center",
      });

      var shape = new fabric.Ellipse({
        rx: text.width ,
        ry: text.height,
        originX: "center",
        originY: "center",
        stroke: "black",
        fill:'',
        strokeWidth: 3,
        strokeDashArray: [5, 10]
      });

      var group = new fabric.Group([shape, text], {
        left: this.leftPos + 25,
        top: this.rigthPos + 25
      });

      canvas.add(group);
      this.nameItem="";
    }
  },
  mounted() {
    const ref = this.$refs.can;
    const canvas = new fabric.Canvas(ref);
    canvas.on("mouse:wheel", function(opt) {
      var delta = opt.e.deltaY;
      var zoom = canvas.getZoom();
      zoom = zoom + delta / 200;
      if (zoom > 20) zoom = 20;
      if (zoom < 0.01) zoom = 0.01;
      canvas.setZoom(zoom);
      opt.e.preventDefault();
      opt.e.stopPropagation();
    });
    this.canvasObject = canvas;
  }
};
</script>