<template>
  <div class="container bg-grey mt-5">
    <b-card bg-variant="dark" text-variant="white" title="Omar Aparicio Quiroz">
      <b-card-text>
        Estudiante de Ingeniería en Sistemas Computacionales
        Instituto Politecnico Nacional.
      </b-card-text>
    </b-card>
    <div class="m-3"></div>
    <b-card bg-variant="dark" text-variant="white" title="Eduardo Martinez Acosta">
      <b-card-text>
        Estudiante de Ingeniería en Sistemas Computacionales
        Instituto Politecnico Nacional.
      </b-card-text>
    </b-card>
    <div class="m-3"></div>
    <b-card bg-variant="dark" text-variant="white" title="Sergio Galan">
      <b-card-text>
        Estudiante de Ingeniería en Sistemas Computacionales
        Instituto Politecnico Nacional.
      </b-card-text>
    </b-card>
  <div class="m-5"></div>
  </div>
</template>