<template>
    <div id="loginBg" class="min-vh-100">
    <div class="container">
      <div class="row text-white min-vh-100">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto my-auto text-center form p-5" style="background-color: rgba(0, 0, 0, 0.8) !important;">
          <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-form-group id="username-input" label="Username" label-for="username">
              <b-form-input
                id="username"
                v-model.trim="form.username"
                required
                placeholder="Username"
              ></b-form-input>
            </b-form-group>

            <b-form-group
              id="password-input"
              label="Password:"
              label-for="password"
            >
              <b-form-input
                id="password"
                v-model.trim="form.password"
                type="password"
                required
                placeholder="Password"
              ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Login</b-button>
            <b-button type="reset" variant="danger">Clean</b-button>
          </b-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="../assets/login.js" ></script>

<style>
#loginBg {
  width: 100%;
  background-image: url("../assets/img/loginBannerEscom.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
</style>