<template>
  <div class="container mt-4">
    <h3 class="text-warning">ESQUEMA RELACIONAL</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis exercitationem nesciunt recusandae, sed maxime voluptate quisquam maiores laboriosam. Libero neque odit commodi autem deleniti unde consequatur amet modi. Quia, eum.</p>
  </div>
</template>